<body>
    <hr>
    <h1><em>Reservación</em></h1>
    <form (ngSubmit)="onSubmit(saveReservacion)" #saveReservacion="ngForm">

        <h2 for="inputFechaIngreso">Fecha Ingreso</h2>
            <input class="form-control" type="date" [(ngModel)]="reservacion.fechaIngreso" name="fechaIngreso" id="fechaIngreso" type="date" placeholder="Fecha entrada">
        <hr>
        <h2 for="inputFechaSalida">Fecha Salida</h2>
            <input class="form-control" type="date" [(ngModel)]="reservacion.fechaSalida" name="fechaSalida" id="fechaSalida" type="date" placeholder="Fecha salida">
        <hr>
        <h2 for="inputNumeroTarjeta">Número de Tarjeta</h2>
            <input class="form-control" [(ngModel)]="reservacion.numeroTarjeta" name="numeroTarjeta"   id="numeroTarjeta" type="number" placeholder="Your credit card">
        <hr>
        <h2 for="inputTotalPagar">Total a Pagar</h2>
        
        <input class="form-control" [(ngModel)]="reservacion.totalPagar" name="totalPagar"   id="totalPagar" type="number" placeholder="Price">

        <hr>
    <!--    <h2 for="inputRoom">Habitación</h2>
            <input [(ngModel)]="reservacion.room" name="room" #name="ngModel" class="form-control" id="inputRoom" type="text" placeholder="Room">
        <hr>-->
        <button type="submit" class="btn btn-success col-lg-3 mx-2" [disabled]="!saveReservacion.form.valid" value="Guardar Reservacion" >Aceptar</button>
        <hr>
    </form>
    <hr>
    <h2 class="creditos">&copy;Grupo #2</h2>
    <hr>
</body>