<body>
    <h1 class="texto1">Agregar Hotel</h1>
    <form #saveHotel="ngForm" class="division" (ngSubmit)="onSubmit(saveHotel)">
        <div>
            <label>Nombre</label>
            <input [(ngModel)]="hotel.name" name="name" type="text" id="inputName">
        </div>
        <div>
            <label>Dirección</label>
            <input [(ngModel)]="hotel.direccion" name="direccion" type="text" id="inputDirección">
        </div>
        <div>
            <label>Escoja al administrador</label>
            <select [(ngModel)]="idAdmin" name="admin" id="selectAdmin">
                <option *ngFor="let admin of adminsNombres">{{admin}}</option>
            </select>
        </div>
        <div>
            <button type="submit" [disabled]="!saveHotel.form.valid">Siguiente</button>
        </div>
    </form>
</body>
