<body>
    <br>
    <h1>Agregar Habitación</h1>
    <form (ngSubmit)="onSubmit(saveHabitacion)" #saveHabitacion="ngForm">
        <div class="divForm">
            <div>
                <label>Descripción de la habitación</label>
                <br>
                <br>
                <textarea class="form-control" [(ngModel)]="habitacion.descripcion" name="descripcion" id="idDescripcion" required></textarea>
                <br>
                <br>
            </div>
        </div>
    </form>
    <br>
    <br>
    <div class="d-grid gap-2 boton">
        <button type="submit" class="btn btn-primary" [disabled]="!saveHabitacion.form.valid">Guardar Habitacion</button>
    </div>
</body>
