<body class="text-center">
<p>.</p>
<div>
    <h1>{{title}}</h1>
    <img src="../../../assets/img/usuario.png"><hr>
    <h2 class="texto1">Username</h2>
    <div class="division">
        <label class="texto2">{{user.username}}</label>
    </div><hr>
    <h2 class="texto1">Nombre</h2>
    <div class="division">
        <label class="texto2">{{user.name}}</label>
    </div><hr>
    <h2 class="texto1">Apellido</h2>
    <div class="division">
        <label class="texto2">{{user.lastname}}</label>
    </div><hr>
    <h2 class="texto1">Correo</h2>
    <div class="division">
        <label class="texto2">{{user.email}}</label>
    </div><hr>
    <button type="button" class="btn btn-primary col-lg-3 mx-2" (click)="cerrarSesion()">Cerrar sesion</button>
    <button type="button" class="btn btn-success col-lg-3 mx-2" routerLink="/updateUser">Actualizar cuenta</button>
    <button type="button" class="btn btn-danger col-lg-3 mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Eliminar Usuario
    </button>    
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Eliminar cuenta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>¿Estas seguro que quieres eliminar tu cuenta?</h3>
        <p>Esta acción es definitiva</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button data-bs-dismiss="modal" type="button" class="btn btn-danger" (click)="deleteUser()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
<h2 class="texto3">&copy;Grupo #2</h2>