<body>
<p>.</p>
<div class="division1"><hr>
    <p>Hoteles disponibles</p>
</div><hr>
<input [(ngModel)]="search" type="search" name="search" class="form-control me-2" placeholder="Search" aria-label="Search">
<div class="card myWidth text-white bg-secondary" *ngFor="let hotel of hotels | search:search">
  <div class="card-body">
    <img src="../../../assets/img/hotel.png"><br><br>
    <h5 class="card-title">{{hotel.name}}</h5><hr>
    <h6 class="card-subtitle">{{hotel.direccion}}</h6><hr>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="obtenerData(hotel)">Ver Hotel</button>
    <button *ngIf="user._id == hotel.admin" class="btn btn-success" routerLink="/hotel" (click)="obtenerData(hotel)">Administrar</button>
  </div>
</div><br>
<footer>
    <h2 class="texto3">&copy;Grupo #2</h2>
</footer>
</body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Hotel Disponible</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5>Hotel:</h5>
            <h1>{{hotelSelected.name}}</h1>
            <img src="../../../assets/img/iconoH.png" class="imagen">
            <h2>Ubicado en: </h2>
            <h3>{{hotelSelected.direccion}}</h3><hr>
            <p *ngIf="user.rol == 'ROL_ADMINHOTEL' || user.rol == 'ROL_ADMINAPP'">Debes ser cliente para reservar y ver habitaciones</p>
            <p *ngIf="user.rol == 'ROL_CLIENT'" class="texto2">Califica el hotel</p>
            <form>
                <p class="clasificacion" *ngIf="user.rol == 'ROL_CLIENT'">
                  <input id="radio1" type="radio" name="estrellas" value="5"><!--
                  --><label for="radio1">★</label><!--
                  --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                  --><label for="radio2">★</label><!--
                  --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                  --><label for="radio3">★</label><!--
                  --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                  --><label for="radio4">★</label><!--
                  --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                  --><label for="radio5">★</label>
                </p>
            </form>
            <div class="modal-footer">
          <button data-bs-dismiss="modal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button data-bs-dismiss="modal" *ngIf="user.rol == 'ROL_CLIENT' || user.rol == 'ROL_ADMINAPP'" type="button" class="btn btn-primary" routerLink="/habitaciones">Habitaciones</button>
          <button data-bs-dismiss="modal" *ngIf="user.rol == 'ROL_CLIENT'" type="button" class="btn btn-success" routerLink="/reservacion">Reservar</button>
        </div>
      </div>
    </div>
  </div>