<body>
<div class="division1"><hr>
    <p class="card-title">{{hotel.name}}</p>
</div>    
<div id="cards">
    <div class="card myWidth text-white bg-secondary" *ngFor="let room of rooms ; let i = index">
        <img src="../../../assets/img/room.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">{{room.descripcion}}</p><hr>
          <p class="card-subtitle">Estado: {{room.disponibilidad}}</p>
        </div>
        <div>
            <button class="btn btn-success" (click)="obtenerData(room)" routerLink="/reservacion">Reservar</button>
        </div>
    </div>
</div>
<h2 class="texto3">&copy;Grupo #2</h2>
</body>