<body>
    <p>.</p>
    <div class="titulo">
      <h1>Actualizar Hotel</h1>
    </div>
      <form (ngSubmit)="onSubmit()" id="formulario" class="editarHotel">
        <div id="formulario">
          <div class="mb-3">
            <label class="form-label" for="inputName">Nombre de Hotel:</label>
            <input type="text" class="form-control" name="name" #name="ngModel" id="inputName" [(ngModel)]="hotel.name">
          </div>
          <div class="mb-3" for="inputDireccion">
            <label class="form-label">Dirección:</label>
            <input type="text" class="form-control" name="direccion" #direccion="ngModel" id="inputDireccion" [(ngModel)]="hotel.direccion">
          </div>
        </div>
      </form>
      <div class="d-grid gap-2 col-6 mx-auto" id="botones">
        <button type="submit" class="btn btn-success" (click)="onSubmit()">Actualizar Hotel</button>
        <button class="btn btn-primary" routerLink="/hotel">Regresar</button>
      </div>
      <br>