body{
    height: 100%;
    background-image: url('../../../assets/img/hotel2.jpg');
    background-size: cover;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form{
    background-color: rgba(15, 207, 255, 0.377);
    width: 70%;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.form-select{
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.form-control{
    width: 60%;
    place-items: center;
    margin-right: auto;
    margin-left: auto;
}

h1{
    margin-top: 130px;
    background-color: rgb(0, 139, 126);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2.76em;
    letter-spacing: 7px;
    font-weight: bold;
}

button{
    margin-top: 60px;
}