<body>
    <p>.</p>
    <form class="registro" #register="ngForm" (ngSubmit)="onSubmit(register)">
        <h1 class="texto1">Registrate!</h1>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName">Name</label>
                <input [(ngModel)]="user.name" name="name" #name="ngModel" class="form-control" id="inputName" type="text" placeholder="Name" required>
                <span *ngIf="!name.valid && name.touched">
                    Campo obligatorio
                </span>
            </div><br>
            <div class="form-group col-md-6">
                <label for="inputLastName">Lastname</label>
                <input [(ngModel)]="user.lastname" name="lastname" #lastname="ngModel" class="form-control" id="inputLastName" type="text" placeholder="Last Name" required>
                <span *ngIf="!lastname.valid && lastname.touched">
                    Campo obligatorio
                </span>
            </div>
        </div><br>
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input [(ngModel)]="user.username" name="username" #username="ngModel" class="form-control" id="inputUsername" type="text" placeholder="Username" required>
            <span *ngIf="!username.valid && username.touched">
                Campo obligatorio
            </span>
        </div><br>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input [(ngModel)]="user.password" name="password" #password="ngModel" class="form-control" id="inputPassword" type="password" placeholder="Password" required>
            <span *ngIf="!password.valid && password.touched">
                Campo obligatorio
            </span>
        </div><br>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input [(ngModel)]="user.email" name="email" #email="ngModel" class="form-control" id="inputEmail" type="email" placeholder="example@gmail.com" required>
            <span *ngIf="!email.valid && email.touched">
                Campo obligatorio
            </span>
        </div><br>
        <div class="form-group">
            <label for="selectRol">Select role:</label>
            <select [(ngModel)]="user.rol" name="rol" id="selectRol" class="form-control">
                <option *ngFor="let option of optionsRol" [value]="option">{{option}}</option>
            </select>
        </div>
        <div class="form-group" aling="center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="check">
                <label class="form-check-label" for="check">I accept the terms and conditions</label>
            </div>
        </div><br>
        <div class="centro">
            <button type="submit" class="btn btn-primary" [disabled]="!register.form.valid">Registrate</button>
        </div>         
    </form>
    <h2 class="texto3">&copy;Grupo #2</h2>
</body>
