<body>
    
    <hr>
    <div class="container">
        <div class="row">
          <div class="span4">
            <address>
                <strong class="titulo">FACTURA</strong><br>

            </address>
          </div>
          <div class="span4 well">
            <table class="invoice-head">
              <tbody>
                <tr>
                  <td class="pull-right"><strong>Usuario</strong></td>
                  <td>{{user.username}}</td>
                  <hr>
                  <hr>
                  <td class="pull-right"><strong>No. de tarjeta</strong></td>
                  <td>{{reservacion.numeroTarjeta}}</td>
                </tr>
                <hr>
                
              </tbody>
            </table>
          </div>
        </div>
    <!--    <form (ngSubmit)="onSubmit(saveFactura)" #saveFactura="ngForm">-->
        <div class="row">
          <div class="span8">
           
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="span8 well invoice-body">
            <table class="table-bordered">
            <thead>
              <tr>
                <th>Habitación</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td>ID: {{reservacion.room}}</td>
              <td>{{reservacion.totalPagar}}</td>
                        <!--<td><input class="form-control" [(ngModel)]="facturas.totalPagar" name="totalPagar"   id="totalPagar" type="number" placeholder="Price"></td>-->
              </tr>
              <tr><td colspan="1"></td></tr>
  <tr>
        <!--        <td colspan="1">&nbsp;</td>
                <td><strong>Total</strong></td>
                <td><strong>1000</strong></td>-->
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <div class="row">
          <div class="span8 well invoice-thank">
            <button type="submit" class="btn btn-success col-lg-3 mx-2" routerLink="/reservaciones">Regresar</button>  
            <hr>

            <h5 style="text-align:center;">Muchas gracias!</h5>
            <hr>
          </div>
        </div>
    </div>

      <hr>
      <hr>
      <h2 class="creditos">&copy;Grupo #2</h2>
      <hr>
    </body> 