body{
    height: 100%;
    background-image: url('../../../assets/img/hotel2.jpg');
    background-size: cover;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titulo{
    background-color: teal;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 70px;
    border-radius: 20px;
    font-family:'Lucida Sans';
    margin-top: 20px;
    padding: 10px;
    color: white;
    letter-spacing: 7px;
}

form{
    background-color: rgba(15, 207, 255, 0.377);
    width: 70%;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
}

.botones{
    margin-top: 50px;
    margin-bottom: 40px;
}

.form-control{
    width: 60%;
    place-items: center;
    margin-right: auto;
    margin-left: auto;
}

#formulario{
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
}