<body>
  <p>.</p>
  <div class="titulo">
    <h1>{{hotel.name}}</h1>
  </div>
    <form (ngSubmit)="onSubmit()" #adminHotel="ngForm" id="formulario" class="editarHotel">
      <div id="formulario">
        <div class="mb-3">
          <label class="form-label" for="inputName">Nombre de Hotel:</label>
          <input type="text" class="form-control" name="name" #name="ngModel" id="inputName" [(ngModel)]="hotel.name" disabled>
        </div>
        <div class="mb-3" for="inputDireccion">
          <label class="form-label">Dirección:</label>
          <input type="text" class="form-control" name="direccion" #direccion="ngModel" id="inputDireccion" [(ngModel)]="hotel.direccion" disabled>
        </div>
        <div class="mb-3">
          <label class="form-label">Cantidad de Solicitudes:</label>
          <input type="text" class="form-control" name="cantidad" [(ngModel)]="hotel.solicitud" disabled>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2 col-2 mx-auto botones">
      <button class="btn btn-success" routerLink="/updateHotel">Actualizar Hotel</button>
      <button class="btn btn-danger">Eliminar Hotel</button>
      <button class="btn btn-primary" routerLink="/habitacion">Agregar Habitaciones</button>
      <button class="btn btn-secondary" routerLink="/eventos">Agregar Eventos</button>
    </div>
    <h2 class="texto3">&copy; Grupo #2</h2>
</body>